/* KEYFRAMES */
@font-face {
  font-family: 'Yekan';
  src: url("https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.eot");
  src: url("https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.eot?#iefix") format("embedded-opentype"), url("https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.woff") format("woff"), url("https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.ttf") format("truetype");
  font-weight: bold; }

body {
  background-color: #1d2630;
  font-family: Yekan;
  height: 100vh;
  flex-wrap: wrap; }

header svg {
  width: 12rem;
  margin: 1rem; }
  header svg path, header svg polygon {
    opacity: 1;
    fill: white; }

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height .3s;
  position: relative;
  height: 0;
  width: 58%;
  padding: 29% 0;
  border-radius: 50%;
  background: #1d2630;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.15), -8px -8px 12px 0 rgba(255, 255, 255, 0.15); }
  .box:hover {
    filter: grayscale(0%);
    border-radius: 999999px 999999px 999999px 999999px;
    position: relative;
    margin: auto;
    transition: height 0.5s ease;
    height: 148%; }
    .box:hover h2.h2watercolor {
      color: cyan; }
    .box:hover h2.h2greencolor {
      color: lime; }
    .box:hover h2.h2constcolor {
      color: #ffd000; }
    .box:hover .button {
      transition: opacity .5s ease-out .25s;
      opacity: 1; }
  .box .button {
    position: absolute;
    bottom: 1rem;
    margin: auto;
    height: 2.2rem;
    padding: .3rem;
    text-decoration: none;
    align-items: center;
    text-align: center;
    border: 2px solid white;
    border-radius: 50%;
    background: white;
    box-shadow: 0.2rem 0.2rem 0.3rem 0 rgba(0, 0, 0, 0.15), -0.1rem -0.1rem 0.2rem 0 rgba(255, 255, 255, 0.15);
    opacity: 0; }
  .box .button a span {
    padding-bottom: 0;
    margin: 0; }
  .box a.button span svg {
    width: 1.5rem;
    fill: #00ff00;
    padding: .4rem;
    margin: 0;
    filter: grayscale(100%); }
    .box a.button span svg:hover {
      filter: grayscale(0%);
      transition-duration: .2s; }
  .box .content {
    position: absolute;
    left: 1rem;
    right: 1rem;
    bottom: 3rem;
    height: 2rem;
    padding: 1rem;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: .2s; }
  .box .content h2 {
    font-size: 20px;
    color: gray;
    font-weight: 500;
    line-height: 1.2rem;
    letter-spacing: 1px;
    padding: 0.5rem;
    margin: 3rem 20px 3rem 20px; }
  .box:hover .content {
    transition: opacity .5s ease-out .25s;
    opacity: 1; }
  .box .content a span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: yekan;
    color: gray;
    transition: color 0.3 ease; }
    .box .content a span:hover {
      color: cyan; }

.box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  border-radius: 50%; }
  .box .imgBx:hover {
    border-radius: 50%; }

.box .imgBx img {
  width: 100%;
  max-width: 100%;
  filter: grayscale(100%);
  transition: .2s;
  border-radius: 50%;
  border: 3px solid gray; }
  .box .imgBx img:hover {
    filter: grayscale(0%);
    transition: .5s; }

#bluebox:hover .watercolor {
  filter: grayscale(0%);
  border: 3px solid cyan;
  box-shadow: 0 0 12px cyan; }

#greenbox:hover .greencolor {
  filter: grayscale(0%);
  border: 3px solid lime;
  box-shadow: 0 0 12px lime; }

#yellowbox:hover .constcolor {
  filter: grayscale(0%);
  border: 3px solid #ffd000;
  box-shadow: 0 0 12px #ffd000; }

[class*="startpage"] {
  display: flex;
  align-items: center;
  justify-content: center; }

#tphdrphonegreen {
  display: flex; }
  #tphdrphonegreen > * {
    padding: 0 .5rem;
    font-size: 1rem; }

@media screen and (min-width: 922px) {
  #tphdrphonegreen {
    color: lime; } }

#leftlowfooter span {
  color: white;
  font-size: 12px; }
  #leftlowfooter span a strong {
    color: lime;
    text-decoration: none; }

.elementor-progress-percentage {
  color: black;
  overflow: visible;
  font-size: 15px;
  line-height: 20px;
  box-sizing: content-box;
  position: relative;
  bottom: 25px; }
