// color
$blueflur: cyan;
$greenflur: rgb(0, 255, 0);
$yellowflur: rgb(255, 208, 0);
$dark: #1d2630;
$light: #c8daee;
$border: 5px;
$wc1: 50%;
$breakpoints: (phone: 320px, tablet: 768px, desktop: 921px);